<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database App</title>
</head>
<body style="background-color: gray;">

    <style>
        .redirect-button:hover,
        .redirect-button:active {
            transform: scale(1.1);
            transition: 1s;
        }
    </style>

    <div id="buttons-redirect" style="display: flex;flex-direction: row;flex-wrap: wrap;">
        <button class="redirect-button" style="width: 250px;height: 45px;background-color: black; color: white;margin: 10px;border-radius: 10px;">
            <a style="color: white;text-decoration: none;font-size: 18px;" href="/get-data">Data Users</a>
        </button>
    
        <button class="redirect-button" style="width: 250px;height: 45px;background-color: black; color: white;margin: 10px;border-radius: 10px;">
            <a style="color: white;text-decoration: none;font-size: 18px;" href="/get-post">Data Post</a>
        </button>
    </div>

</body>
</html>